/*checkbox*/
.check-box > .box {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-color: white;
    -fx-border-color: silver;
    -fx-border-radius: 7;
}
.check-box:selected > .box > .mark {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-color: white;
    -fx-background-image: url("icons/arrow.png");
    -fx-background-size: 27;
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-shape: none;
}

/*columns*/
#toHistoryColoumn{
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: WHITE;
    -fx-background-color: WHITE;
}
#checkColoumn{
    -fx-alignment: CENTER;
    -fx-border-color: WHITE;
    -fx-background-color: WHITE;
}
#textColoumn {
    -fx-alignment: CENTER;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}
#timeColoumn{
    -fx-alignment: CENTER;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}
#startupColoumn{
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}
#delColoumn {
    -fx-alignment: CENTER-RIGHT;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}



/*buttons*/
#delColoumn .button{
    -fx-alignment: CENTER;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-image: url(icons/bin.png);
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
}
#addTableRow{
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-background-color: WHITE;
    -fx-background-image: url(icons/plus.png);
}

#toHistoryColoumn .button{
    -fx-alignment: CENTER;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-image: url(icons/save.png);
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
}

#simpleViewButton{
    -fx-alignment: CENTER;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-image: url(icons/aktie3.png);
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
    -fx-text-fill: TRANSPARENT;
}
#checkColoumn .check-box{
    -fx-cursor: HAND;
}

#startupColoumn .button{
    -fx-alignment: CENTER;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
    -fx-text-fill: TRANSPARENT;
}

/*text field*/
#textColoumn .text-field{
    -fx-alignment: CENTER;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: SILVER;
    -fx-border-radius: 8;
}
#timeColoumn .label{
    -fx-alignment: CENTER;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-border-radius: 8;
    -fx-cursor: DEFAULT;
}

/*progress bar*/
#currentProgressText{
    -fx-border-color: none;
    -fx-background-color: none;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#progressBar .bar{
    -fx-background-color: BLACK;
    -fx-background-radius: 8;
}
#progressBar .track{
    -fx-border-color: SILVER;
    -fx-border-radius: 8;
    -fx-background-color: WHITE;
}

/*hiding header and borders*/
#taskAncor {
    -fx-background-color: WHITE;
}
#taskTable .column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}
#taskTable .taskTable-row-cell{
    -fx-border-color: WHITE;
    -fx-background-color: WHITE;
}
#taskTable {
    -fx-border-color: WHITE;
}

/*main table scrollbar*/
#taskTable .scroll-bar{
    -fx-pref-width: 12px;
    -fx-background-color: WHITE;
}
#taskTable .scroll-bar .increment-arrow{
    -fx-shape : " ";
}
#taskTable .scroll-bar .decrement-arrow{
    -fx-shape : " ";
}
#taskTable .scroll-bar .thumb{
   -fx-background-color: BLACK;
    -fx-background-radius: 0;
}
/*history table scrollbar*/
#historyTable .scroll-bar{
    -fx-pref-width: 6px;
    -fx-background-color: WHITE;
}
#historyTable .scroll-bar .increment-arrow{
    -fx-shape : " ";
}
#historyTable .scroll-bar .decrement-arrow{
    -fx-shape : " ";
}
#historyTable .scroll-bar .thumb{
    -fx-background-color: BLACK;
    -fx-background-radius: 0;
}

/*history menu set*/
#historyAncor{
    -fx-background-color: #f7f7f5;
}
/*history table settings*/
#historyTable .column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}
#historyTable .table-row-cell{
    -fx-border-color: #f7f7f5;
}
#historyTable {
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
}
/*history table columns*/
#historyTableTaskColoumn{
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
}

#historyTableTimeColoumn{
    -fx-alignment: CENTER;
    -fx-font-size: 8;
    -fx-font-weight: bold;
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
}
#historyTableDateColoumn{
    -fx-alignment: CENTER;
    -fx-font-size: 8;
    -fx-font-weight: bold;
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
}
#historyTableDelColoumn{
    -fx-alignment: CENTER;
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
}
#historyTableDelColoumn .button{
    -fx-background-position: CENTER BOTTOM;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-image: url(icons/hisBin.png);
    -fx-background-color: #f7f7f5;
    -fx-border-color: #f7f7f5;
    -fx-cursor: HAND;
}

/*day timer and buttons*/
#startDayButton{
    -fx-text-fill: TRANSPARENT;
    -fx-alignment: CENTER;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url(icons/sunrise.png);
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
}
#endDayButton{
    -fx-text-fill: TRANSPARENT;
    -fx-alignment: CENTER;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-image: url(icons/sunset.png);
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
    -fx-cursor: HAND;
}
#dayTimer{
    -fx-alignment: CENTER;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: WHITE;
    -fx-border-color: WHITE;
}
