#widgetAnchor{
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 10;
}
#widgetTable .scroll-bar *{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
#header{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
#widgetDayTimer .text{
    -fx-fill: black;
    -fx-effect: dropshadow(gaussian, white, 3, 0, 1, 1);
}
#widgetMainLabel .text{
    -fx-fill: black;
    -fx-effect: dropshadow(gaussian, white, 3, 0, 1, 1);
}
#widgetTable .column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}
#widgetTable .taskTable-row-cell{
    -fx-border-color: TRANSPARENT;
    -fx-background-color: rgba(225, 225, 225, 0);
}
#widgetTable {
    -fx-base: transparent;
    -fx-background-color: transparent;
    -fx-border-color: TRANSPARENT;
}
#widgetTaskColumn .label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
#widgetTimeColumn .label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#widgetTaskColumn .label .text{
    -fx-fill: black;
    -fx-effect: dropshadow(gaussian, white, 3, 0, 1, 1);
}
#widgetTimeColumn .label .text{
    -fx-fill: black;
    -fx-effect: dropshadow(gaussian, white, 3, 0, 1, 1);
}


#goToMainStageButton{
    -fx-alignment: CENTER;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-image: url(icons/aktie3.png);
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
    -fx-cursor: HAND;
    -fx-text-fill: TRANSPARENT;
}